@page "/h/{householdId:guid}/Recipes"
@model HouseholdApp.Web.Pages.Recipes.RecipesIndexModel
@{
    ViewData["Title"] = L["Nav.Recipes"];
}

<div class="page-heading">
    <span>@L["Nav.Recipes"]</span>
    <a asp-page="Create" asp-route-householdId="@Model.HouseholdId" class="btn btn-primary btn-sm">@L["Recipes.AddRecipe"]</a>
</div>

<div hx-ext="sse"
     sse-connect="/h/@Model.HouseholdId/Recipes/stream"
     sse-swap="recipes-list">
    @await Html.PartialAsync("_RecipesList", new RecipesListViewModel(Model.HouseholdId, Model.Recipes))
</div>
